{% extends "teacher/acc_layout.html" %}
{% load static %}
{% block content %}
  <!-- ======= Intro Section ======= -->
  <main id="main" style="margin-top: 80px;">
    <!-- ======= Contact Section ======= -->
    <section id="contact" style="box-shadow: none !important">
      <div class="container-fluid" data-aos="fade-up">

        <div class="section-header">
          <h3>Dashboard</h3>
        </div>

        <div class="row">
          <div class="col-lg-4 offset-lg-4">

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
{% endblock %}