{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Eduvy - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'frontend/img/favicon.png' %}" rel="icon">
  <link href="{% static 'frontend/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'frontend/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'frontend/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'frontend/vendor/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'frontend/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'frontend/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'frontend/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'frontend/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NewBiz - v2.2.0
  * Template URL: https://bootstrapmade.com/newbiz-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an text logo -->
        <!-- <h1><a href="index.html">NewBiz</a></h1> -->
        <a href="index.html"><img src="{% static 'frontend/img/logo.png' %}" alt="" class="img-fluid"></a>
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="/college-owners/dashboard">Dashboard</a></li>
          <li><a href=""></a></li>
            <li class="drop-down"><a href="javascript:;">Colleges</a>
            <ul>
              <li><a href="/college-owners/list-college">List</a></li>
              <li><a href="/college-owners/add-college">Add</a></li>
            </ul>
          </li>
          <li class="drop-down"><a href="javascript:;" style="font-weight: bolder; text-transform: uppercase;">{{ request.session.firstname }} {{ request.session.lastname }} ( {{ request.session.usertype }} )</a>
            <ul>
              <li><a href="/college-owners/edit-profile">Edit Profile</a></li>
              <li><a href="/college-owners/logout">Log Out</a></li>
            </ul>
          </li>
        </ul>
      </nav><!-- .main-nav -->

    </div>
  </header><!-- #header -->
  {% block content %}
  {% endblock %}
<!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>NewBiz</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
        All the links in the footer should remain intact.
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=NewBiz
      -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'frontend/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'frontend/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'frontend/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'frontend/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'frontend/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'frontend/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'frontend/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'frontend/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'frontend/vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'frontend/js/main.js' %}"></script>

</body>

</html>